/* src/pages/EditarPL/EditarPL.css */

.body-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-editar-pl {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.input-group .form-idioma,
.input-group .form-pais-origem {
    margin-bottom: 20px;
}

#div-input-customizado {
    width: 100%;
}

.input-group input[type="text"],
.input-group Select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#select-div {
    max-height: 62.78px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.buttons-editar-pl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.botoes-finais-edicao {
    display: flex;
    justify-content: space-between;
}

.button-salvar-edicao {
    background-color: #1780e2;
}

.button-cancelar-edicao {
    background-color: #fa0000;
}

.button-salvar-edicao,
.button-cancelar-edicao {
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    transition: background-color 0.3s;
}

.button-salvar-edicao:hover {
    background-color: #0056b3;
}

.button-cancelar-edicao:hover {
    background-color: #b30e0e;
}
