/* PRODUTO SELECIONADO */

.container-listagem-produto-volume {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 20px;
    width: 100%;
    margin-bottom: 120px;
    border-collapse: collapse;
}

.container-listagem-produto-volume li {
    display: grid;
    border-left: 1px solid #ddd;
    border-top: none;
}

.container-listagem-produto-volume li {
    grid-template-columns: repeat(5, 1fr);
}

.subcontainer-listagem-produto-volume {
    width: 80%;
}

.container-listagem-produto-volume li div {
    display: table-cell;
    padding: 5px;
    text-align: left;
    min-height: 40px;
    border-right: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.header-produto-volume {
    font-weight: bold;
    background-color: #1780e2;
    color: white;
    display: table-row;
}

.header-produto-volume div {
    width: 100%;
}

.li-listagem-produto-volume {
    display: table-row;
    border-bottom: 1px solid #ddd;
}

/* FIM DO PRODUTO SELECIONADO */





/* INICIO DO CONTAINER DO BOTAO E VOLUMES */

#message {
    z-index: 1000;
}

.org-lista-1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#container-botao-add-volume {
    text-align: right;
    margin-bottom: 15px;
}

.button-adicionar-volume {
    background-color: #1780e2;
    transition: 0.5ms ease;
}

.button-adicionar-volume:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

.container-listagem-volume {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
}

.container-listagem-volume #list-vol {
    display: table-cell;
    padding: 10px;
    text-align: center;
    min-width: 142.506px;
    max-width: 142.506px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.container-listagem-volume ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-volume {
    display: flex;
    align-items: center;
    background-color: #1780e2;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-volume div {
    display: table-row;
    font-weight: bold;
    background-color: #1780e2;
    color: white;
    border-right: 1px solid #ddd;
}

.header-volume div:first-child {
    border-left: 1px solid #ddd;

}

.header-volume #list-vol:first-child {
    margin-left: 12px;
}

.li-listagem-volume {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.li-listagem-volume #list-vol {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.li-listagem-volume #list-vol:last-child {
    border-right: 1px solid #ddd;
}

#container-list-vol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#list-vol-divs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    width: 100%;
    transition: 0.5ms ease-in;
}

#list-vol-divs:hover {
    cursor: pointer;
    background-color: #dddddd5b;
}

.li-listagem-volume div {
    cursor: pointer;
    display: table-row;
}

.li-listagem-volume #list-vol {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.li-listagem-volume #list-vol:last-child {
    border-right: 1px solid #ddd;
}

#list-vol-divs:hover {
    background-color: #dddddd5b;
}

#container-icon-plus {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    margin-left: 10px;
    align-self: center;
    transition: 0.5ms ease;
}

#container-icon-plus:hover {
    border-radius: 50%;
    background-color: #ddd;
}

#ic-outline-plus {
    font-size: 20px;
    color: #1780e2;
    transition: 0.5ms ease;
}

#ic-outline-plus:hover {
    color: #0056b3;
}

/* INICIO DA LISTAGEM DO SUBVOLUME NA PAGINA */

.volume-container {
    width: 100%;
}

#list-vol {
    flex: 1;
    padding: 0 10px;
}

#listagem-subvolume {
    cursor: default;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.lista-subvolume-overlay {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.ul-lista-subvolume {
    display: table-cell;
    unicode-bidi: isolate;
    width: 100%;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.ul-lista-subvolume #grid-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border-left: 1px solid #ddd;
}

.ul-lista-subvolume ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-lista-subvolume ul #lista-1 {
    width: 180px;
}

#grid-lista div {
    align-items: center;
}

.header-produto-subvolume {
    display: flex;
    justify-content: space-between;
    background-color: #0056b3;
    color: white;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.li-listagem-produto-subvolume {
    width: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    transition: 0.5ms ease-in;
}

.li-listagem-produto-subvolume:hover {
    background-color: #dddddd5b;
}

.button-adicionar-subvolume {
    background-color: #0056b3;
    transition: 0.5ms ease-in;
}

.button-adicionar-subvolume:hover {
    transform: scale(1.1);
    background-color: #1780e2;
}

#nao-existe-volume,
#nao-existe-subvolume {
    color: #6c757d;
    text-align: center;

}

#nao-existe-subvolume li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #dddddd8a;
    width: 1020px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#container-nao-existe-subvolume {
    display: flex;
    justify-content: center;
    width: 100%;

}


/* FIM DA LISTAGEM DO SUBVOLUME NA PAGINA */



/* INICIO DO OVERLAY DE ADICIONAR VOLUME */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: auto;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.title-adicionar-volume {
    margin-bottom: 20px;
}

.subcontainer-volume {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-input-adicionar-volume input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-group-volume {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.input-group-volume input {
    width: 690.56px;
}

.input-group-volume input[type="text"],
.input-group-volume input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group-volume label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.buttons-adicionar-volume {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.button-salvar-add-volume,
.button-cancelar-add-volume {
    width: 140px;
    transition: 0.5ms ease;
}

.button-salvar-add-volume {
    background-color: #1780e2;
}

.button-salvar-add-volume:hover {
    background-color: #0056b3;
}

.button-cancelar-add-volume {
    background-color: #fa0000;
}

.button-cancelar-add-volume:hover {
    background-color: #5c1313;
}

/* FIM DO OVERLAY DE ADICIONAR VOLUME */




/* INICIO DO CONTEXTO DE EDIÇAO */

/* NAO TEM NADA POIS ESTA COM AS MESMAS CLASSES DA CRIAÇAO */

/* FIM DO CONTEXTO DE EDIÇAO */





/* INICIO DO CONTEXTO DE CRIAR SUBVOLUMES */

.overlay-content-subvolume {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.title-subvolume-lista {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.header-produto-subvolume-overlay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0056b3;
    color: white;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.li-listagem-produto-subvolume-overlay {
    width: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.5ms ease-in;
}



.input-group-subvolume {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-input-subvolume {
    display: flex;
    gap: 50px;
}


.container-botoes-add-subvolumes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 100px;
}

.li-listagem-produto-subvolume-overlay:hover {
    background-color: #dddddd5b;
}

.container-input-adicionar-subvolume input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-group-subvolume input[type="text"],
.input-group-subvolume input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group-subvolume label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ul-lista-subvolume #grid-lista-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.button-salvar-add-subvolume,
.button-cancelar-add-subvolume {
    width: 140px;
    transition: 0.5ms ease;
}

.button-salvar-add-subvolume {
    background-color: #1780e2;
}


.button-salvar-add-subvolume:hover {
    background-color: #0056b3;
}

.button-cancelar-add-subvolume {
    background-color: #fa0000;
}

.button-cancelar-add-subvolume:hover {
    background-color: #5c1313;
}

#title-lista-subvolume {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    font-weight: 550;
}


/* FIM DO CONTEXTO DE CRIAR SUBVOLUMES */

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px; /* Largura do tooltip */
    background-color: black; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center;
    border-radius: 5px; /* Borda arredondada */
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posição do tooltip */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
