.container-listagem-produto-volume {
    overflow-x: auto;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 120px;
}

.container-listagem-produto-volume li {
    display: grid;
    border-left: 1px solid #ddd;
    border-top: none;
}

.container-listagem-produto-volume li {
    grid-template-columns: repeat(5, 1fr);
}

.header-produto-volume {
    font-weight: bold;
    background-color: #1780e2;
    color: white;
    display: table-row;
}

.header-produto-volume div {
    width: 100%;
}

.container-listagem-produto-volume li div {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; 
}

.li-listagem-produto-volume {
    display: table-row;
    border-bottom: 1px solid #ddd; 
}

/*  -------------------------------- separação produto e volume ----------------------------------  */

.volume-container-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container-listagem-volume {
    text-align: center;
}

.container-listagem-volume,
.volume-container-volume ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.container-listagem-volume li,
.volume-container-volume li {
    display: grid;
    border-top: none;
}

.volume-container-volume li {
    grid-template-columns: repeat(10, 1fr);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.container-listagem-volume,
.volume-container-volume #header-lista-volume {
    background-color: #1780e2;
    color: white;
    font-weight: bold;
    text-align: center;
}

.container-listagem-volume,
.volume-container-volume #header-lista-volume div {
    padding: 10px;
    border-right: 1px solid #ddd;
}

.container-listagem-volume,
.volume-container-volume #header-lista-volume div:last-child {
    border-right: none;
}

.li-listagem-volume { 
    cursor: pointer;
}

.volume-container-volume li div {
    padding: 10px;
    border-right: 1px solid #ddd; 
}

.volume-container-volume li div:last-child {
    border-right: none; 
}

.lista-volume {
    width: 80%;
    margin-bottom: 100px;
}




.input-group-volume {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.input-group-volume input[type="text"],
.input-group-volume input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group-volume label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



.container-button-adicionar-volume {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.button-adicionar-volume {
    background-color: #1780e2;
    transition: 0.3s;
}

.button-adicionar-volume:hover {
    background-color: #0056b3;
}

.container-adicionar-volume {
    margin-bottom: 15px;
    padding: 50px;
    border: 1px solid #ddd;
    cursor: initial;
}

.subcontainer-volume {
    display: flex;
    flex-direction: column;
}

.grid-volume-1, .grid-volume-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-volume-2 {
    margin-top: 30px;
}

.title-adicionar-volume {
    margin-bottom: 20px;
}

.buttons-adicionar-volume {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.container-input-adicionar-volume input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}


.button-salvar-add-volume,
.button-cancelar-add-volume {
    width: 140px;
    transition: background-color 0.3s;
}

.button-salvar-add-volume {
    background-color: #1780e2;
}


.button-salvar-add-volume:hover {
    background-color: #0056b3;
}

.button-cancelar-add-volume {
    background-color: #fa0000;
}

.button-cancelar-add-volume:hover {
    background-color: #5c1313;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: auto;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.container-button-adicionar-volume {
    margin-bottom: 20px;
}

#message {
    z-index: 1000;
    
}

.subcontainer-subvolume {
    display: flex;
    flex-direction: column;
}

.container-input-adicionar-subvolume input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-group-subvolume {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.input-group-subvolume input[type="text"],
.input-group-subvolume input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group-subvolume label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container-input-subvolume {
    display: flex;
    justify-content: space-around;
}

.buttons-adicionar-subvolume {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.button-salvar-add-subvolume,
.button-cancelar-add-subvolume {
    width: 140px;
    transition: background-color 0.3s;
}

.button-salvar-add-subvolume {
    background-color: #1780e2;
}


.button-salvar-add-subvolume:hover {
    background-color: #0056b3;
}

.button-cancelar-add-subvolume {
    background-color: #fa0000;
}

.button-cancelar-add-subvolume:hover {
    background-color: #5c1313;
}