.container-listagem-produto-volume {
    overflow-x: auto; /* Adiciona a rolagem horizontal */
    padding: 20px;
    max-width: 100%;
    margin-bottom: 120px;
}

.container-listagem-produto-volume li {
    display: grid;
    border-left: 1px solid #ddd;
    border-top: none;
}

.container-listagem-produto-volume li {
    grid-template-columns: repeat(5, 1fr);
}

.header-produto-volume {
    font-weight: bold;
    background-color: #1780e2;
    color: white;
    display: table-row;
}

.header-produto-volume div {
    width: 100%;
}

.container-listagem-produto-volume li div {
    display: table-cell;
    padding: 5px; /* Aumenta o padding para mais espaço vertical */
    text-align: left;
    border-right: 1px solid #ddd;
    overflow: hidden; /* Oculta o conteúdo que excede a largura */
    text-overflow: ellipsis; /* Adiciona '...' no final do texto longo */
    word-wrap: break-word; /* Quebra o texto longo para evitar quebra do layout */    
}

.li-listagem-produto-volume {
    cursor: pointer;
    display: table-row;
    border-bottom: 1px solid #ddd; /* Linha de separação entre os itens */
}

/*  -------------------------------- separação produto e volume ----------------------------------  */

.volume-container-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container-listagem-volume,
.volume-container-volume {
    text-align: center;
}

.container-listagem-volume,
.volume-container-volume ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.container-listagem-volume li,
.volume-container-volume li {
    display: grid;
    border-top: none;
}

.volume-container-volume li {
    grid-template-columns: repeat(10, 1fr);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.container-listagem-volume,
.volume-container-volume #header-lista-volume {
    background-color: #1780e2;
    color: white;
    font-weight: bold;
    text-align: center;
}

.container-listagem-volume,
.volume-container-volume #header-lista-volume div {
    padding: 10px;
    border-right: 1px solid #ddd; /* Adicione uma borda direita para separar as colunas */
}

.container-listagem-volume,
.volume-container-volume #header-lista-volume div:last-child {
    border-right: none; /* Remova a borda da última coluna */
}

.volume-container-volume li div {
    padding: 10px;
    border-right: 1px solid #ddd; /* Adicione uma borda direita para separar as colunas */
}

.volume-container-volume li div:last-child {
    border-right: none; /* Remova a borda da última coluna */
}

.lista-volume {
    width: 80%;
}

.container-button-adicionar-volume {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.button-adicionar-volume {
    background-color: #1780e2;
    transition: 0.3s;
}

.button-adicionar-volume:hover {
    background-color: #0056b3;
}

.container-adicionar-volume {
    margin-bottom: 15px;
    padding: 50px;
    border: 1px solid #ddd;
    cursor: initial;
}

.subcontainer-volume {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.grid-volume-1, .grid-volume-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-volume-2 {
    margin-top: 30px;
}

.title-adicionar-volume {
    margin-bottom: 20px;
}

.container-input-adicionar-volume {

}

.buttons-adicionar-volume {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.container-input-adicionar-volume input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}


.button-salvar-add-volume,
.button-cancelar-add-volume {
    width: 140px;
    transition: background-color 0.3s;
}

.button-salvar-add-volume {
    background-color: #1780e2;
}


.button-salvar-add-volume:hover {
    background-color: #0056b3;
}

.button-cancelar-add-volume {
    background-color: #fa0000;
}

.button-cancelar-add-volume:hover {
    background-color: #5c1313;
}



