/* src/pages/CadastroPackingList/CadastroPackingList.css */

.title-container {
    margin: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-cadastro-pl{
    width: 100%;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

#select-container {
    padding: 0px;
    max-height: 56.771px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.input-group .form-pais-origem,
.input-group .form-idioma {
    margin-bottom: 20px;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group Select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container-button-save {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-save {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 107.6px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-save:hover {
    background-color: #0056b3;
}

.button-cancel {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.botao-salvar {
    background-color: #30985A;
    color: #fff;
    border: 1px solid #686868;
    padding: 10px 20px;
    border-radius: 3px;
    width: 110px;
    transition: 1s ease;
    font-size: 15px;
}

.botao-salvar:hover {
    background-color: #0D6530;
}

.botao-cancelar {
    padding: 10px 20px;
    color: black !important;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #686868 !important;
    width: 110px;
    transition: 1s ease;
    font-size: 15px;
  }
  
  .botao-cancelar:hover {
    background-color: #ccc;
  }

.botoes-finais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div-dados-bancarios {
    width: 200px;
}

#container-total-dados-bancarios {
    display: flex;
    flex-direction: column;
    background-color: #dddddd3d;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #ccc;


}

.container-dadosbancarios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
    }

#dados-bancarios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}   

#conta-container {
    height: 100%;
}
