.container-qrcodes {
}

.container-gerar-qrcodes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-top: 100px;
    background-color: #ddd;
}

.container-botoes-qrcode {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

#div-botao-gerar-lista button,
#div-botao-imprimir button,
#div-botao-baixar button{
    background-color: #1780e2;
}

#div-botao-gerar-lista button:hover,
#div-botao-imprimir button:hover,
#div-botao-baixar button:hover {
    transform: scale(1.05);
    background-color: #114b81;
}


@media print {

    @page {
        size: auto;
        margin: 0px;
    }

    .geral {
        width: auto;
    }

    .container,
    .input-qrcode,
    .button-generator,
    .input-baixar-qrcode,
    .title,
    .button-printer,
    .button-download,
    .header
    {
        display: none;
    }

    .qr-code-lista {
        display: block;
        width: 100mm;
        height: 41mm;
    }

    .qr-code-item {
        width: 100mm;
        height: 41mm;
        margin: 0;
        page-break-inside: avoid;
    }

    .qr-code-img {
        min-width: 36mm;
        min-height: 36mm;
    }

    body {
        background-color: white;
        margin: 0;
    }

    header,
    footer {
        display: none;
    }

}