body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-listagem {
    overflow-x: auto;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 120px;
}

.title-container {
    margin-top: 20px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    gap: 30px;
}

.busca-invoice-input input{
    width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-item {
    background-color: #1780e2;
    transition: 0.2 ease;
    transform: 0.2ms ease;
}

.button-item:hover {
    transform: scale(1.05);
    background-color: #114b81;
}

.container-listagem-inicio {
    display: table;
    border-collapse: collapse;
}

.li-listagem {
    cursor: pointer;
    display: table-row;
    border-bottom: 1px solid #ddd;
    transition: 0.5ms ease-in;
}

.li-listagem:hover {
    background-color: #dddddd5b;
}

.header {
    font-weight: bold;
    border: 1px solid #ddd;
    background-color: #1780e2;
    color: white;
    display: table-row;
}

.container-listagem-inicio li div {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ddd;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 13px;
}

.container-listagem-inicio li div:first-child {
    border-left: 1px solid #ddd;
}

.context-menu {
    display: block;
    width: 180px;
    padding: 8px;
    font-size: 13px;
    border: none;
    background: none;
    text-align: left;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#container-icon-menu,
#container-icon-menu-excluir {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#container-icon-menu {

}

#container-icon-menu:hover {
    background-color: #d8d8d8;
    transform: scale(1.02);
}

#container-icon-menu-excluir:hover {
    transform: scale(1.02);
    background-color: #fa0000;
    color: #f0f0f0;
}

#icone-menu{
    font-size: 1.3em;
}

#container-icon-menu-excluir #icone-menu {
    margin-bottom: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.context-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.747);
    padding: 20px;
    height: 150px;
    border-radius: 3px;
    z-index: 2000;
}

.context-delete .buttons-delete {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.button-cancelar {
    background-color: #1780e2;
    padding: 7px;
    border-radius: 3px;
    width: 7em;
    transition: 0.5s ease;
}

.button-cancelar:hover {
    background-color: #114b81;
}

.button-excluir {
    background-color: #fa0000;
    padding: 7px;
    width: 7em;
    border-radius: 3px;
    transition: 0.5s ease;
}

.button-excluir:hover {
    background-color: #b30e0e;
}

.container-input-criar-volume {
    width: 100%;
}

.container-text-cv {
    font-weight: bold;
    margin-bottom: 5px;
}

#nao-existe-packinglist {
    color: #747474;
    text-align: center;
    list-style-type: none;
    background-color: #95a2ad46;
    padding: 30px;
}