body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-listagem {
    overflow-x: auto;
    padding: 20px;
    max-width: 100%;
    min-height: 50vh;
    margin-bottom: 120px;
}

.title-container {
    margin-top: 20px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    gap: 30px;
}

.busca-invoice-input input {
    width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-item {
    background-color: #1780e2;
    transition: 0.2 ease;
    transform: 0.2ms ease;
}

.button-item:hover {
    transform: scale(1.05);
    background-color: #114b81;
}

.botao-filtros-inicio {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 1s ease;
}

.botao-filtros-inicio:hover {
    background-color: #e4dbdb;
    cursor: pointer;
}

.filter-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.filter-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.filter-item label {
    margin-left: 8px;
    font-size: 14px;
    color: #333;
}

.filter-item input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}

.filter-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


#icon-arrow-down {
    width: 1.5em;
    height: 1.5em;
}

.button-filtro {
    background-color: transparent;
    color: #747474 !important;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.container-listagem-inicio {
    display: table;
    border-collapse: collapse;
}

.li-listagem {
    cursor: pointer;
    display: table-row;
    border-bottom: 1px solid #ddd;
    transition: 0.5ms ease-in;
}

.li-listagem:hover {
    background-color: #dddddd5b;
}

.header {
    font-weight: bold;
    border: 1px solid #ddd;
    background-color: #1780e2;
    color: white;
    display: table-row;
}

.container-listagem-inicio li div {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ddd;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 13px;
}

.container-listagem-inicio li div:first-child {
    border-left: 1px solid #ddd;
}

.context-menu {
    display: block;
    width: 180px;
    padding: 8px;
    font-size: 13px;
    border: none;
    background: none;
    text-align: left;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#container-icon-menu,
#container-icon-menu-excluir {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#container-icon-menu {}

#container-icon-menu:hover {
    background-color: #d8d8d8;
    transform: scale(1.02);
}

#container-icon-menu-excluir:hover {
    transform: scale(1.02);
    background-color: #fa0000;
    color: #f0f0f0;
}

#icone-menu {
    font-size: 1.3em;
}

#container-icon-menu-excluir #icone-menu {
    margin-bottom: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}


.container-input-criar-volume {
    width: 100%;
}

.container-text-cv {
    font-weight: bold;
    margin-bottom: 5px;
}

#nao-existe-packinglist {
    color: #747474;
    text-align: center;
    list-style-type: none;
    background-color: #95a2ad46;
    padding: 30px;
}