.container-produto {
    width: 100%;
}

.container-pesquisar-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    gap: 40px;
}


.container-pesquisar-produto Input,
.container-adicionar-produtos-inputs Input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container-button-adicionar-produto {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.button-adicionar-produto {
    background-color: #1780e2;
    transition: 0.3s;
}

.button-adicionar-produto:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

.title-adicionar-produtos {
    margin-bottom: 20px;
}

.container-adicionar-produtos {
    margin-bottom: 15px;
    padding: 50px;
    border: 1px solid #ddd;
    cursor: initial;
}

.container-autocomplete {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-autocomplete input {
    width: 1000px;
    margin-top: 5px;
}

#div-id-prod,
#div-desc-prod,
#div-os {
    text-align: start;
}

.container-adicionar-produtos-inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.buttons-adicionar-produtos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.button-salvar-add-prod {
    background-color: #1780e2;
}

.button-cancelar-add-prod {
    background-color: #fa0000;
    transition: 0.5ms ease;
}

.button-salvar-add-prod,
.button-cancelar-add-prod {
    width: 140px;
    transition: 0.3s ease;
}

.button-salvar-add-prod:hover {
    background-color: #0056b3;
}

.button-cancelar-add-prod:hover {
    background-color: #521414;
}

.produto-container-prod,
.produto-container-prod-maior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.lista-produto {
    width: 80%;
}

.title-info-pl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-listagem-prod {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.sub-container-listagem-prod {
    width: 80%;
    margin-top: 50px;
    font-size: 12px;
    border-collapse: collapse;
}

.sub-container-listagem-prod li div {
    display: table-cell;
    unicode-bidi: isolate;
    padding: 5px;
    max-width: 200px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.container-listagem-prod,
.produto-container-prod,
.produto-container-prod-maior {
    text-align: center;
}

.container-listagem-prod,
.produto-container-prod ul
.produto-container-prod-maior ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.container-listagem-prod li,
.produto-container-prod #header-lista-prod,
.produto-container-prod #lista-prod-1,
.produto-container-prod-maior #header-lista-prod,
.produto-container-prod-maior #lista-prod-1{
    display: grid;
    border-top: none;
}

.container-listagem-prod li {
    grid-template-columns: repeat(16, 1fr);
    border-bottom: none;
    border-left: 1px solid #ddd;
}

.produto-container-prod li {
    grid-template-columns: repeat(8, 1fr);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.produto-container-prod-maior li {
    grid-template-columns: repeat(9, 1fr);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#lista-prod-1 {
    transition: 0.5ms ease-in;
}

#lista-prod-1:hover {
    background-color: #dddddd5b;
}

#nao-existe-produto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nao-existe-produto li {
    list-style: none;
}

.container-listagem-prod .header,
.produto-container-prod #header-lista-prod,
.produto-container-prod-maior #header-lista-prod {
    background-color: #1780e2;
    color: white;
    font-weight: bold;
    text-align: center;
}

.container-listagem-prod .header div,
.produto-container-prod #header-lista-prod div
.produto-container-prod-maior #header-lista-prod div {
    padding: 10px;
    border-right: 1px solid #ddd; /* Adicione uma borda direita para separar as colunas */
}

.container-listagem-prod .header div:last-child,
.produto-container-prod #header-lista-prod div:last-child,
.produto-container-prod-maior #header-lista-prod div:last-child {
    border-right: none; /* Remova a borda da última coluna */
}

.produto-container-prod li div,
.produto-container-prod-maior li div {
    padding: 10px;
    border-right: 1px solid #ddd; /* Adicione uma borda direita para separar as colunas */
}

.ul-lista-produtos {
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 200px;
}

.produto-container-prod li div:last-child,
.produto-container-prod-maior li div:last-child {
    border-right: none; /* Remova a borda da última coluna */
}

.li-listagem-produto div{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.context-delete {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.autocomplete-suggestions li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-suggestions li:hover {
    background-color: #eee;
}

.input-group-produto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.input-group-produto input {
    width: 100%;
}

.input-group-produto input[type="text"],
.input-group-produto input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group-produto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-sem-edicao {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.6;
}

#container-edit-prod-dims {
    background-color: #dddddd3d;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.container-inputs-dimensao-produto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-top: 15px;
}

#sub-dimensao-container {
    display: flex;
    justify-content: center;
}

.container-inputs-dimensao-produto input{
    width: 95%;
}


